.text-green{
    color: rgb(16, 99, 16);
}
.bg-green{
    background-color: rgb(16, 99, 16);
}
.bg-red{
    background-color: rgb(255, 0, 0);
}
.text-red{
    color: rgb(255, 0, 0);
}
.bg-cyan{
    background-color: rgb(0, 119, 255);
    color: black!important;
}
.text-cyan{
    color: rgb(0, 119, 255);
}
.primer_btn {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border: 2px solid white;
}

.segundo_btn {
    background-color: rgb(16, 99, 16);
    padding: 10px;
    border: 2px solid white;
}

.tercer_btn {
    background-color:rgb(0, 119, 255);
    padding: 10px;
    border: 2px solid white;
}
.btn-theme-container{
        margin-top: 300px;
        width: 10px;
        height: 30px;
        position: fixed;
        display: flex;
        flex-direction: column;
        
    
}